@model AppCliente.Models.Prestamo
@using AppCliente.Services
@using AppCliente.Models
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-5">Detalle Prestamo</h1>

<div class="row">
    <hr />
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Idprestamo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Idprestamo)
            </dd>
            <dt class="col-sm-3">
                Estudiante
            </dt>
            <dd class="col-sm-9">
                @{
                    EstudianteService estudianteService = new EstudianteService();
                    Estudiante estudiante = await estudianteService.ObtenerEstudiante(@Model.Idestudiante);
                }
                @if (estudiante != null)
                {
                    @Html.DisplayFor(model => estudiante.NombreCompleto)
                }
                else
                {
                    @Html.DisplayFor(model => model.Idestudiante)
                }
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaPrestamo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaPrestamo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaDevolucion)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estado)
            </dd>

        </dl>
        <div>
            <a asp-action="Index" class="btn btn-light">Volver</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead style="background-color:#A9D0F5">
                    <tr>
                        <th>Id Libro</th>
                        <th>Titulo</th>
                        <th>Anio</th>
                        <th>Editorial</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.PrestamoDetalle!.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => @Model.PrestamoDetalle[i].Idlibro)
                            </td>
                            <td>
                                @{
                                    LibroService libroService = new LibroService();
                                    Libro libro = await libroService.ObtenerLibro(@Model.PrestamoDetalle[i].Idlibro);
                                }
                                @if (libro != null)
                                {
                                    @Html.DisplayFor(modelItem => libro.Titulo)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => @Model.PrestamoDetalle[i].Idlibro)
                                }

                            </td>
                            <td>
                                @if (libro != null)
                                {
                                    @Html.DisplayFor(modelItem => libro.Anio)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => @Model.PrestamoDetalle[i].Idlibro)
                                }

                            </td>
                            <td>
                                @if (libro != null)
                                {
                                    @Html.DisplayFor(modelItem => libro.Editorial)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => @Model.PrestamoDetalle[i].Idlibro)
                                }

                            </td>
                         
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>Id Libro</th>
                        <th>Titulo</th>
                        <th>Anio</th>
                        <th>Editorial</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>